* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eef2f6;
  font-size: 14px;
}
.container {
  height: 100vh;
  padding-top: 10px;
  overflow: hidden;
  user-select: none;
}
.tabs {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 90px;
  margin-right: 32px;
  overflow: auto;
}
.tab {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  padding: 0 10px 0 15px;
  max-width: 185px;
  border-left: 1px solid #999;
  cursor: default;
}
.tab:first-child {
  border-left: none;
}
.tab:last-of-type {
  border-right: 1px solid #999;
}
.tab:not(.active):hover .title {
  color: #999;
}
.tab.active {
  height: 100%;
  border-radius: 4px 4px 0px 0px;
  border-left-color: transparent;
  border-right-color: transparent;
  background: #fff;
}
.tab.active + .tab {
  border-left: none;
}
.title {
  flex-grow: 1;
  display: flex;
  margin: 0 5px 0 10px;
  overflow: hidden;
}
.title-content {
  flex-shrink: 0;
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-top: 2px;
  border-radius: 100%;
  font-size: 10px;
}
.close:hover {
  background: #ddd;
}
.bars {
  padding: 10px 18px;
  background: #fff;
}
.bars .address {
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #eceff2;
  outline: none;
  font-size: 12px;
}
.bars .address:focus {
  background: #fff;
}
.bar {
  display: flex;
  align-items: center;
}
.actions {
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  width: 118px;
  margin-right: 18px;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  color: #333;
  font-size: 16px;
}
.action.disabled {
  color: #ccc;
}
.action:not(.disabled):hover {
  background: #eee;
}
